extends ./shared/layout.pug

block body
    script(src="/js/pets.js")
    h2 Pets
    table.display.dataTable#pets-table
        thead
            tr
                th ID
                th Name
                th Business

        tbody
            for d in donors
                tr
                    td #{d.PersonID}
                    td #{d.FirstName} #{d.LastName}
                    td #{d.BusinessName}


